@import '../../styles/variables';
@import '../../styles/mixin';

.thumbnails {
    .item__wrapper {
        position: relative;


        &:hover .thumb__overlay {
            opacity: 1;
            transform: translateY(10px);
            transition: all 0.4s ease-in-out;
        }

        &:hover .thumb__item img {
            filter: blur(2px);
        }

        .thumb__item img {
            width: 100%;
            transition: all 0.4s ease-in-out;
        }

        .thumb__overlay {
            width: 80%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }


    }
}